.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  border-top-color: #0547cd;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}